@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
}

body {
  background-image: url('../images/runner.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}